{% extends 'base.html.twig' %}

{% block title %}CGT DAHER{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: white; padding: 2px 6px; }
</style>

<div class="conteiner">
    <h1>Ils sont là pour vous!!!</h1>
    <h3>Soyez pas impatient, page en finalisation</h3>
    {# <div {{ stimulus_controller('hello') }}></div> #}
    <div class="d-flex justify-content-center">
        <img with="450px" height="450px" src="{{ asset('images/Site_en_Travaux.jpg') }}" class="rounded p-1" alt=""></img>
    </div>
</div>
{% endblock %}
