{% extends 'base.html.twig' %}

{% block title %}CGT DAHER{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: white; padding: 2px 6px; }
</style>

<div class="conteiner">
    <h1>Les dernieres brèves</h1>
    <div {{ stimulus_controller('hello') }}></div>
    {% for key, media in medias %}
        {% include "/medias/_card.html.twig" with {'card': media } %}
    {% endfor %}
    {# <img with="450px" height="450px" src="{{ asset('images/Site_en_Travaux.jpg') }}" class="rounded p-1" alt=""></img> #}
</div>
{% endblock %}
