<h1>Bonjour {{ user.prenom|raw }}</h1>

<p>
    Veuillez cliquer sur le lien ci-dessous pour valider votre adresse mail, ainsi que votre compte: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer votre Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci de votre compréhension. Si besoin, vous pouvez contacter l'administrateur.
</p>
