<h1>Activation de votre compte</h1>
<p>Bonjour {{ user.name }},</p>
<p>Votre choix de mandat nécessite une vérification de vos données par l'administrateur du site.</p>
<p>Vous recevrez un mail de validation</p>
<p>Merci</p>